.train-ticket {
    border: solid red 1px;
    border-radius: 20px;
    height: 275px;
    width: 500px;
}

.top-border {
    height: 50px;
    width: 500px;
    background-color: orange;
    border-radius: 20px 20px 0px 0px;
}