.train-ticket {
    border: solid red 1px;
    border-radius: 20px;
    height: 275px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-border {
    height: 50px;
    width: 450px;
    background-color: #FF621F;
    border-radius: 20px 20px 0px 0px;
}

.ticket-background {
    height: 175px;
    width: 450px;
    color: #69FF05;
    background: linear-gradient(to bottom, #69FF05, #FFFFFF);
}

.bottom-border {
    height: 50px;
    width: 450px;
    background-color: #FF621F;
    border-radius: 0px 0px 20px 20px;
}